<!DOCTYPE html>
<html>
<head>
{% load static %}
<title>Neet-Jinjya</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- Bootstrap -->
<link href="assets/css/bootstrap.css" rel="stylesheet" media="screen" />
<link href="assets/css/thin-admin.css" rel="stylesheet" media="screen" />
<link href="assets/css/font-awesome.css" rel="stylesheet" media="screen" />
<link href="assets/style/style.css" rel="stylesheet" />
<link href="assets/style/dashboard.css" rel="stylesheet" />
<link href="assets/style/screen.css" media="screen" />
<link  href="assets/style/lightbox.css" media="screen" />

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<body>
<!-- <div class="container">
  <div class="top-navbar header b-b"> <a data-original-title="Toggle navigation" class="toggle-side-nav pull-left" href="#"><i class="icon-reorder"></i> </a>
    <div class="brand pull-left">  <a href="index.html"><img src="images/logo.png" width="147" height="33" /></a></div>
  </div>
</div> -->
<div class="wrapper">
  <div class="page-content">
    <div class="content container">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="page-title">Gallery</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="widget">
            <div class="widget-header"> <i class="icon-tasks"></i>
              <h3>Gallery</h3>
            </div>
            <div class="widget-content">
              <div id="examples" class="section examples-section">
                <div class="col-sm-4 col-md-2">
                  <div class="image-row">
                    <div > <a  href="http://www.baidu.com" > <img class="example-image" 
                      src="assets/img/gallery-photo/thumb-1.jpg" alt="Plants: image 1 0f 4 thumb" width="150" height="150" /></a> </div>
                  </div>
                </div>
                <div class="col-sm-4 col-md-2">
                  <div class="image-row">
                    <div class="image-set"> <a class="example-image-link" 
                      href="assets/img/gallery-photo/image-1.jpg" data-lightbox="example-set" title="Click on the right side of the image to move forward."> <img class="example-image" 
                      src="assets/img/gallery-photo/thumb-1.jpg" alt="Plants: image 1 0f 4 thumb" width="150" height="150" /></a> </div>
                  </div>
                </div>
                <div class="col-sm-4 col-md-2">
                  <div class="image-row">
                    <div class="image-set"> <a class="example-image-link" 
                      href="assets/img/gallery-photo/image-2.jpg" data-lightbox="example-set" title="Click on the right side of the image to move forward."> <img class="example-image" 
                      src="assets/img/gallery-photo/thumb-2.jpg" alt="Plants: image 1 0f 4 thumb" width="150" height="150" /></a> </div>
                  </div>
                </div>
                <div class="col-sm-4 col-md-2">
                  <div class="image-row">
                    <div class="image-set"> <a class="example-image-link" 
                      href="assets/img/gallery-photo/image-3.jpg" data-lightbox="example-set" title="Click on the right side of the image to move forward."> <img class="example-image" 
                      src="assets/img/gallery-photo/thumb-3.jpg" alt="Plants: image 1 0f 4 thumb" width="150" height="150" /></a> </div>
                  </div>
                </div>
                <div class="col-sm-4 col-md-2">
                  <div class="image-row">
                    <div class="image-set"> <a class="example-image-link" 
                      href="assets/img/gallery-photo/image-4.jpg" data-lightbox="example-set" title="Click on the right side of the image to move forward."> <img class="example-image" 
                      src="assets/img/gallery-photo/thumb-4.jpg" alt="Plants: image 1 0f 4 thumb" width="150" height="150" /></a> </div>
                  </div>
                </div>
                <div class="col-sm-4 col-md-2">
                  <div class="image-row">
                    <div class="image-set"> <a class="example-image-link" 
                      href="assets/img/gallery-photo/image-5.jpg" data-lightbox="example-set" title="Click on the right side of the image to move forward."> <img class="example-image" 
                      src="assets/img/gallery-photo/thumb-5.jpg" alt="Plants: image 1 0f 4 thumb" width="150" height="150" /></a> </div>
                  </div>
                </div>
                <div class="col-sm-4 col-md-2">
                  <div class="image-row">
                    <div class="image-set"> <a class="example-image-link" 
                      href="assets/img/gallery-photo/image-6.jpg" data-lightbox="example-set" title="Click on the right side of the image to move forward."> <img class="example-image" 
                      src="assets/img/gallery-photo/thumb-6.jpg" alt="Plants: image 1 0f 4 thumb" width="150" height="150" /></a> </div>
                  </div>
                </div>
                <div class="col-sm-4 col-md-2">
                  <div class="image-row">
                    <div class="image-set"> <a class="example-image-link" 
                      href="assets/img/gallery-photo/image-7.jpg" data-lightbox="example-set" title="Click on the right side of the image to move forward."> <img class="example-image" 
                      src="assets/img/gallery-photo/thumb-7.jpg" alt="Plants: image 1 0f 4 thumb" width="150" height="150" /></a> </div>
                  </div>
                </div>
                <div class="col-sm-4 col-md-2">
                  <div class="image-row">
                    <div class="image-set"> <a class="example-image-link" 
                      href="assets/img/gallery-photo/image-8.jpg" data-lightbox="example-set" title="Click on the right side of the image to move forward."> <img class="example-image" 
                      src="assets/img/gallery-photo/thumb-8.jpg" alt="Plants: image 1 0f 4 thumb" width="150" height="150" /></a> </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="bottom-nav footer"> 2021 &copy; Neet-Jinjya. </div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="assets/js/jquery.js"></script> 
<script src="assets/js/bootstrap.min.js"></script> 
<script type="assets/text/javascript" src="js/smooth-sliding-menu.js"></script> 
<script src="assets/javascript/jquery-1.10.2.min.js"></script> 
<script src="assets/javascript/lightbox-2.6.min.js"></script> 
<script>
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-2196019-1']);
	_gaq.push(['_trackPageview']);

	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
	</script>
</body>
</html>
