<!DOCTYPE html>
<html>
<head>
{% load static %}
<title>Neet-Jinjya</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- Bootstrap -->
<link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" media="screen" />
<link href="{% static 'assets/css/thin-admin.css' %}" rel="stylesheet" media="screen" />
<link href="{% static 'assets/css/font-awesome.css' %}" rel="stylesheet" media="screen" />
<link href="{% static 'assets/style/style.css' %}" rel="stylesheet" />
<link href="{% static 'assets/style/dashboard.css' %}" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'assets/style/screen.css' %}" media="screen" />
<link rel="stylesheet" href="{% static 'assets/style/lightbox.css' %}" media="screen" />

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<body>
<!-- <div class="container">
  <div class="top-navbar header b-b"> <a data-original-title="Toggle navigation" class="toggle-side-nav pull-left" href="#"><i class="icon-reorder"></i> </a>
    <div class="brand pull-left">  <a href="index.html"><img src="images/logo.png" width="147" height="33" /></a></div>
  </div>
</div> -->
<div class="wrapper">
  <div class="page-content">
    <div class="content container">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="page-title"><a  href="/" > 返回 </a></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="widget">
            <div class="widget-header"> <i class="icon-tasks"></i>
              <h3>{{name}}</h3>
            </div>
            <div class="widget-content">
              <div id="examples" class="section examples-section">
				  {% for gamedata in datalist %}
					<div class="col-sm-4 col-md-2">
					  <div class="image-row">
						<div > <a href={{ gamedata.link }} > <img class="example-image" src={{ gamedata.iconpath }} alt="Plants: image 1 0f 4 thumb" width="150" height="150" /></a> </div>
					  </div>
					</div>
				  {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="bottom-nav footer"> 2021 &copy; Neet-Jinjya. </div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="{% static 'assets/js/jquery.js' %}"></script> 
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script> 
<script type="{% static 'assets/text/javascript' %}" src="js/smooth-sliding-menu.js"></script> 
<script src="{% static 'assets/javascript/jquery-1.10.2.min.js' %}"></script> 
<script src="{% static 'assets/javascript/lightbox-2.6.min.js' %}"></script> 
<script>
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-2196019-1']);
	_gaq.push(['_trackPageview']);

	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
	</script>
</body>
</html>
